$blue: #bfe1dd;
$cream: #f6e5d0;
$purple: #6c6374;
$turquoise: #77A5B2;
$white: #ffffff;

$extralight-gray: #f2f6f7;
$light-gray: #eaf0f4;
$gray: #808080;
$dark-gray: #282828;

$quote: #c0c0c0;

$color-list-0: #f6e5d0;
$color-list-1: #e6c7b9;
$color-list-2: #d3807b;
$color-list-3: #c5e3c7;
$color-list-4: #bfe1dd;
$color-list-5: #8c4a62;
$color-list-6: #594255;
$color-list-7: #726873;
$color-list-8: #bfb2a3;
$color-list-9: #c0c0c0;


$light-cream-rose: #f2ece6;
$cream-rose: #e6c7b9;
$dark-cream-rose: #dfb7a5;

$light-green: #bddbad;
$green: #a4d191;
$dark-green: #73bf7b;

$light-red: #e18d87;
$red: #d3807b;
$dark-red: #d57275;