@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'populaire';
  src: url("../fonts/populaire-webfont.eot");
  src: url("../fonts/populaire-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/populaire-webfont.woff") format("woff"), url("../fonts/populaire-webfont.ttf") format("truetype"), url("../fonts/populaire-webfont.svg#populairemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ===========================================================
                            GLOBAL
   =========================================================== */
/* line 8, ../sass/capicon.scss */
*, html, body {
  box-sizing: border-box;
}

/* line 12, ../sass/capicon.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 17, ../sass/capicon.scss */
body {
  font-family: 'proxima_nova_regular', sans-serif, Arial;
  font-size: 100%;
  margin: 0;
  user-select: none;
}

/* line 24, ../sass/capicon.scss */
h1, h2, h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
}

/* line 30, ../sass/capicon.scss */
h2 {
  font-size: 480%;
  line-height: 1em;
}

/* line 35, ../sass/capicon.scss */
h3 {
  font-size: 300%;
  text-align: left;
}

/* line 40, ../sass/capicon.scss */
h4 {
  font-size: 170%;
}

/* line 44, ../sass/capicon.scss */
h1, h2, h3 {
  color: #282828;
  font-family: 'populaire', sans-serif, Arial;
}

/* line 49, ../sass/capicon.scss */
p {
  color: gray;
  font-size: 1.5em;
  font-family: 'proxima_nova_light', sans-serif, Arial;
  font-weight: 500;
  text-align: left;
}

/* line 57, ../sass/capicon.scss */
b {
  letter-spacing: -0.02em;
}

/* line 61, ../sass/capicon.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 67, ../sass/capicon.scss */
img {
  width: 100%;
}

/* line 71, ../sass/capicon.scss */
#features h2, #features p, #autor h2, #autor p, #social h2, .slogan, .scroll-to, .vector-icons, .top-bar span, .top-bar a {
  color: white;
}

/* line 75, ../sass/capicon.scss */
.section-desc {
  text-align: center;
}

/* line 79, ../sass/capicon.scss */
.row {
  min-height: 540px;
  padding: 10px;
  position: relative;
}

/* line 85, ../sass/capicon.scss */
.block {
  margin-top: 200px;
  opacity: 0;
  transition: all 0.4s ease;
}

/* line 91, ../sass/capicon.scss */
.left, .right {
  width: 42.5%;
}
/* line 94, ../sass/capicon.scss */
.left img, .right img {
  display: block;
  margin: 0 auto;
}

/* line 100, ../sass/capicon.scss */
.left {
  margin-left: 2%;
  padding-right: 4em;
  float: left;
}

/* line 106, ../sass/capicon.scss */
.right {
  margin-right: 2%;
  float: right;
}

/* line 111, ../sass/capicon.scss */
.active .left {
  margin-left: 6%;
}

/* line 115, ../sass/capicon.scss */
.active .right {
  margin-right: 6%;
}

/* line 119, ../sass/capicon.scss */
.active .block {
  margin-top: 100px;
  opacity: 1;
}

/* line 124, ../sass/capicon.scss */
.block-inner {
  margin: 200px auto 0;
  text-align: center;
  width: 80%;
}

/* line 130, ../sass/capicon.scss */
.border-before {
  background: none repeat scroll #eaf0f4;
  top: 13px;
}

/* line 135, ../sass/capicon.scss */
.border-before-designers {
  background: none repeat scroll #e18d87;
  top: -30px;
}

/* line 140, ../sass/capicon.scss */
.border-before-colors {
  background: none repeat scroll #e6c7b9;
  top: -12px;
}

/* line 145, ../sass/capicon.scss */
.border-before-download {
  background: none repeat scroll #bfe1dd;
  top: -12px;
}

/* line 150, ../sass/capicon.scss */
.border-before-donations {
  background: none repeat scroll white;
  top: -12px;
}

/* line 150, ../sass/capicon.scss */
.border-before, .border-before-designers, .border-before-colors, .border-before-download,.border-before-donations  {
  height: 20px;
  display: block;
  transform: rotate(-0.5deg);
  -webkit-backface-visibility: hidden;
  z-index: 10;
  position: relative;
}

/* line 160, ../sass/capicon.scss */
.border-after, .border-after-designers, .border-after-colors {
  height: 40px;
  display: block;
  position: relative;
  transform: rotate(0.8deg);
  -webkit-backface-visibility: hidden;
  z-index: 10;
}

/* line 169, ../sass/capicon.scss */
.border-after {
  background: none repeat scroll #f2f6f7;
  bottom: -15px;
}

/* line 174, ../sass/capicon.scss */
.border-after-designers {
  background: none repeat scroll #f2ece6;
  bottom: -30px;
}

/* line 179, ../sass/capicon.scss */
.border-after-colors {
  background: none repeat scroll #bfe1dd;
  bottom: -25px;
}

/* line 184, ../sass/capicon.scss */
.highlight {
  color: #dfb7a5;
}

/* line 188, ../sass/capicon.scss */
.clear {
  clear: both;
}

/* ===========================================================
                            TOP CONTAINER
   =========================================================== */
/* line 196, ../sass/capicon.scss */
.top-container {
  background: #e18d87 url("../img/background.svg") center -60px repeat;
  height: 99%;
  position: relative;
  width: 100%;
  margin: -40px 0 0;
  z-index: 10;
}

/* line 205, ../sass/capicon.scss */
.top-bar {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  height: 40px;
  width: 100%;
  z-index: 11;
}
/* line 212, ../sass/capicon.scss */
.top-bar .top-bar-inner {
  padding-top: 7px;
  width: 350px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 221, ../sass/capicon.scss */
.top-bar span, .top-bar a {
  font-family: 'proxima_nova_light', sans-serif, Arial;
  font-size: 1.2em;
}
/* line 226, ../sass/capicon.scss */
.top-bar span, .top-bar ul, .top-bar a {
  float: left;
}
/* line 230, ../sass/capicon.scss */
.top-bar ul {
  margin-left: 1em;
}
/* line 233, ../sass/capicon.scss */
.top-bar ul span, .top-bar ul a {
  padding: 0 3px;
}
/* line 237, ../sass/capicon.scss */
.top-bar ul a {
  text-decoration: none;
}

/* line 243, ../sass/capicon.scss */
.logo {
  margin: auto;
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 86%;
  min-width: 200px;
  text-align: center;
}

/* line 256, ../sass/capicon.scss */
.logo-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 4%;
  max-width: 600px;
}

/* line 263, ../sass/capicon.scss */
.slogan {
  font-family: 'populaire';
  font-size: 3em;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 2px 2px #d57275;
  width: 42%;
  margin: 0 auto;
}

/* line 273, ../sass/capicon.scss */
.vector-icons {
  background: #6c6374;
  border-radius: 4px;
  display: inline-block;
  height: 1.1em;
  line-height: 1.3em;
  padding: 0 0.2em;
  text-shadow: none;
}

/* line 283, ../sass/capicon.scss */
.scroll-to {
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 200px;
  text-align: center;
}

/* line 293, ../sass/capicon.scss */
.nav-down {
  width: 100px;
  height: 40px;
  display: block;
  background: white url("../img/nav-down.svg") center center no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

/* ===========================================================
                            WELCOME
   =========================================================== */
/* line 311, ../sass/capicon.scss */
#welcome {
  background: white url("../img/clouds.svg") right center no-repeat;
  background-size: 60%;
}
/* line 315, ../sass/capicon.scss */
#welcome .right img {
  max-width: 400px;
}

/* ===========================================================
                            STEPS
   =========================================================== */
/* line 324, ../sass/capicon.scss */
#steps {
  background: #f2f6f7 url("../img/back-steps.svg") left 8% no-repeat;
  background-size: 680px;
  margin-bottom: -30px;
  z-index: 11;
}
/* line 330, ../sass/capicon.scss */
#steps q.quote {
  color: silver;
  display: block;
  font-family: 'proxima_nova_light';
  font-size: 120%;
  font-style: italic;
  padding: 0 0 2em;
}
/* line 339, ../sass/capicon.scss */
#steps ul.step-list {
  width: 100%;
}
/* line 343, ../sass/capicon.scss */
#steps ul.step-list li {
  width: 33.33333333%;
  float: left;
  margin: 0;
  padding: 0 4%;
}
/* line 349, ../sass/capicon.scss */
#steps ul.step-list li div.image {
  position: relative;
}
/* line 352, ../sass/capicon.scss */
#steps ul.step-list li div.image img {
  margin-bottom: 2em;
  position: relative;
  top: 0;
  left: 0;
  transition: opacity 10s easy;
}
/* line 361, ../sass/capicon.scss */
#steps ul.step-list li div.image img.onhover {
  position: absolute;
}
/* line 365, ../sass/capicon.scss */
#steps ul.step-list li div.image:hover img.onhover {
  opacity: 1;
}

/* ===========================================================
                            FEATURES
   =========================================================== */
/* line 376, ../sass/capicon.scss */
#features {
  background: #e18d87 url("../img/compass.svg") right center no-repeat;
  bottom: 20px;
}
/* line 380, ../sass/capicon.scss */
#features h2 {
  padding-bottom: 1em;
}
/* line 385, ../sass/capicon.scss */
#features ul.feature-list li {
  float: left;
  margin: 0 0 4em;
  width: 50%;
}
/* line 390, ../sass/capicon.scss */
#features ul.feature-list li .image {
  float: left;
  width: 25%;
}
/* line 395, ../sass/capicon.scss */
#features ul.feature-list li .text {
  float: right;
  padding: 0.4em 10% 0 5%;
  width: 75%;
}
/* line 400, ../sass/capicon.scss */
#features ul.feature-list li .text h3 {
  color: #f6e5d0;
}
/* line 404, ../sass/capicon.scss */
#features ul.feature-list li .text p {
  margin: 0;
}

/* ===========================================================
                        RESOURCE FOR DESIGNERS
   =========================================================== */
/* line 416, ../sass/capicon.scss */
#designers {
  background: transparent url("../img/designers.svg") left top no-repeat;
  background-size: 40% auto;
  margin-top: -30px;
}

/* ===========================================================
                        	CUSTOMIZATION
   =========================================================== */
/* line 426, ../sass/capicon.scss */
#customization {
  background: #f2ece6;
  z-index: 11;
}

/* ===========================================================
                        	COLORS
   =========================================================== */
/* line 437, ../sass/capicon.scss */
#colors h3.select {
  color: #d3807b;
}
/* line 441, ../sass/capicon.scss */
#colors #icon {
  margin-top: 2em;
  max-width: 400px;
}
/* line 446, ../sass/capicon.scss */
#colors ul.color-list {
  margin-bottom: 3em;
  overflow: auto;
  padding: 0;
}
/* line 451, ../sass/capicon.scss */
#colors ul.color-list li {
  border-radius: 50%;
  float: left;
  margin: 0 5px 0 0;
  padding: 5px;
}
/* line 457, ../sass/capicon.scss */
#colors ul.color-list li.selected {
  background: transparent url("../img/color-selected.png") center center no-repeat;
  background-size: 40px 40px;
}
/* line 462, ../sass/capicon.scss */
#colors ul.color-list li span {
  float: left;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  border-radius: 50%;
  cursor: pointer;
}
/* line 470, ../sass/capicon.scss */
#colors ul.color-list li span.color-0 {
  background: #f6e5d0;
}
/* line 474, ../sass/capicon.scss */
#colors ul.color-list li span.color-1 {
  background: #e6c7b9;
}
/* line 478, ../sass/capicon.scss */
#colors ul.color-list li span.color-2 {
  background: #d3807b;
}
/* line 482, ../sass/capicon.scss */
#colors ul.color-list li span.color-3 {
  background: #c5e3c7;
}
/* line 486, ../sass/capicon.scss */
#colors ul.color-list li span.color-4 {
  background: #bfe1dd;
}
/* line 490, ../sass/capicon.scss */
#colors ul.color-list li span.color-5 {
  background: #8c4a62;
}
/* line 494, ../sass/capicon.scss */
#colors ul.color-list li span.color-6 {
  background: #594255;
}
/* line 498, ../sass/capicon.scss */
#colors ul.color-list li span.color-7 {
  background: #726873;
}
/* line 502, ../sass/capicon.scss */
#colors ul.color-list li span.color-8 {
  background: #bfb2a3;
}
/* line 506, ../sass/capicon.scss */
#colors ul.color-list li span.color-9 {
  background: silver;
}

/* ===========================================================
                        		ABOUT ME
   =========================================================== */
/* line 518, ../sass/capicon.scss */
#autor {
  background: #bfe1dd url("../img/map.svg") right bottom no-repeat;
  min-height: 570px;
  z-index: 11;
}
/* line 524, ../sass/capicon.scss */
#autor .right img {
  max-width: 300px;
}
/* line 529, ../sass/capicon.scss */
#autor a {
  text-decoration: none;
  color: #77a5b2;
}

/* ===========================================================
                        DOWNLOAD AND DONATE
   =========================================================== */
/* line 539, ../sass/capicon.scss */
#download {
  background: #f2f6f7;
  bottom: 20px;
  margin-bottom: -50px;
  padding-bottom: 60px;
}
/* line 545, ../sass/capicon.scss */
#download .button {
  margin-top: 2em;
  position: relative;
  float: left;
  width: 30%;
}
/* line 551, ../sass/capicon.scss */
#download .button img {
  max-width: 360px;
}
/* line 556, ../sass/capicon.scss */
#download div.button:first-of-type {
  margin-left: 15%;
  margin-right: 5%;
}
/* line 561, ../sass/capicon.scss */
#download div.button + div.button {
  margin-left: 5%;
  margin-right: 15%;
}
/* line 566, ../sass/capicon.scss */
#download a, #download input {
  background: #a4d191;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 5px #73bf7b;
  bottom: 40px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: populaire;
  font-size: 2em;
  height: 50px;
  left: 50%;
  margin-left: -80px;
  padding-top: 6px;
  position: absolute;
  text-decoration: none;
  width: 160px;
  -webkit-appearance: none;
}
/* line 586, ../sass/capicon.scss */
#download a:hover, #download input:hover {
  background: #bddbad;
  box-shadow: 0 5px #a4d191;
}

/* ===========================================================
                        	DONATIONS LIST
   =========================================================== */
/* line 603, ../sass/capicon.scss */
#donations-list p {
  margin: 0.6em 0;
  text-align: center;
}
/* line 609, ../sass/capicon.scss */
#donations-list li:first-of-type p {
  margin-top: 2em;
}
/* line 614, ../sass/capicon.scss */
#donations-list p.thanks {
  color: silver;
  display: block;
  font-family: 'proxima_nova_light';
  font-size: 120%;
  font-style: italic;
  padding: 0 0 2em;
}

/* ===========================================================
                        	SOCIAL
   =========================================================== */
@-webkit-keyframes clouds {
  /* line 598, ../sass/capicon.scss */
  0% {
    -webkit-transform: translate(0, 0px);
  }

  /* line 599, ../sass/capicon.scss */
  100% {
    -webkit-transform: translate(1440px, 0);
  }
}

@-moz-keyframes clouds {
  /* line 603, ../sass/capicon.scss */
  0% {
    transform: translate(0, 0px);
  }

  /* line 604, ../sass/capicon.scss */
  100% {
    transform: translate(1440px, 0);
  }
}

@keyframes clouds {
  /* line 607, ../sass/capicon.scss */
  0% {
    transform: translate(0, 0px);
  }

  /* line 608, ../sass/capicon.scss */
  100% {
    transform: translate(1440px, 0);
  }
}

/* line 611, ../sass/capicon.scss */
#social {
  background: #e18d87 url("../img/city.svg") left bottom repeat-x;
  min-height: 560px;
  overflow: hidden;
}
/* line 616, ../sass/capicon.scss */
#social .clouds {
  background: url("../img/clouds-city.svg");
  background-repeat: repeat-x;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  animation: clouds 300s linear infinite;
}
/* line 628, ../sass/capicon.scss */
#social .house {
  height: 100%;
  position: absolute;
  top: 0;
}
/* line 634, ../sass/capicon.scss */
#social .left-first-house {
  background: url("../img/left-first-house.svg") left top no-repeat;
  right: 90%;
  width: 192px;
  z-index: 3;
}
/* line 641, ../sass/capicon.scss */
#social .left-second-house {
  background: url("../img/left-second-house.svg") left top no-repeat;
  right: 80%;
  width: 274px;
  z-index: 2;
}
/* line 648, ../sass/capicon.scss */
#social .left-third-house {
  background: url("../img/left-third-house.svg") left top no-repeat;
  right: 70%;
  width: 384px;
  z-index: 1;
}
/* line 655, ../sass/capicon.scss */
#social .right-first-house {
  background: url("../img/right-first-house.svg") right top no-repeat;
  left: 86%;
  width: 270px;
  z-index: 6;
}
/* line 662, ../sass/capicon.scss */
#social .right-second-house {
  background: url("../img/right-second-house.svg") right top no-repeat;
  left: 78%;
  width: 164px;
  z-index: 5;
}
/* line 669, ../sass/capicon.scss */
#social .right-third-house {
  background: url("../img/right-third-house.svg") right top no-repeat;
  left: 70%;
  width: 384px;
  z-index: 4;
}
/* line 676, ../sass/capicon.scss */
#social .block-inner {
  padding-top: 40px;
  position: relative;
  z-index: 7;
}
/* line 682, ../sass/capicon.scss */
#social h2 {
  padding-bottom: 0.5em;
}
/* line 686, ../sass/capicon.scss */
#social .social-list {
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  width: 460px;
}
/* line 692, ../sass/capicon.scss */
#social .social-list li {
  float: left;
  width: 25%;
}
/* line 696, ../sass/capicon.scss */
#social .social-list li a {
  outline: none;
}
/* line 701, ../sass/capicon.scss */
#social .social-list img {
  max-width: 70px;
}
/* line 704, ../sass/capicon.scss */
#social .social-list img:hover {
  max-width: 80px;
  transition: all 0.4s ease;
}

/* ===========================================================
                        	MOBILE
   =========================================================== */
/* line 717, ../sass/capicon.scss */
.mobile .block {
  margin-top: 1.5em;
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  /* line 725, ../sass/capicon.scss */
  h2 {
    font-size: 2.8em;
  }

  /* line 729, ../sass/capicon.scss */
  p {
    font-size: 1.2em;
  }

  /* line 733, ../sass/capicon.scss */
  .block {
    height: auto;
    margin-top: 150px;
    padding: 0 .5em;
  }

  /* line 739, ../sass/capicon.scss */
  .block-inner {
    width: 100%;
  }

  /* line 743, ../sass/capicon.scss */
  .active .block {
    margin-top: 50px;
  }

  /* line 747, ../sass/capicon.scss */
  .active .left, .left {
    margin-left: 0;
  }

  /* line 751, ../sass/capicon.scss */
  .active .right, .right {
    margin-right: 0;
    margin-bottom: 100px;
  }

  /* line 756, ../sass/capicon.scss */
  .left {
    padding-right: 0;
  }

  /* line 760, ../sass/capicon.scss */
  .right {
    margin-bottom: 50px;
  }

  /* line 764, ../sass/capicon.scss */
  .left, .right {
    float: none;
    width: 100%;
  }

  /* line 769, ../sass/capicon.scss */
  .top-container {
    background-size: 120%;
  }

  /* line 773, ../sass/capicon.scss */
  .logo-image {
    max-width: 80%;
  }

  /* line 777, ../sass/capicon.scss */
  .slogan {
    width: 100%;
  }

  /* line 781, ../sass/capicon.scss */
  #welcome {
    background: white url("../img/clouds-mobile.svg") no-repeat;
    background-position: center 80%;
    background-size: 100%;
  }

  /* line 787, ../sass/capicon.scss */
  #steps ul.step-list {
    margin: 0 auto;
    width: 60%;
  }
  /* line 791, ../sass/capicon.scss */
  #steps ul.step-list li {
    padding: 0;
    width: 100%;
  }

  /* line 797, ../sass/capicon.scss */
  #features .block {
    margin-top: 100px;
  }

  /* line 801, ../sass/capicon.scss */
  #features ul.feature-list li {
    width: 100%;
  }
  /* line 804, ../sass/capicon.scss */
  #features ul.feature-list li h3 {
    font-size: 2.4em;
    text-align: center;
  }
  /* line 809, ../sass/capicon.scss */
  #features ul.feature-list li .image img {
    max-width: 150px;
    margin-bottom: 1em;
  }
  /* line 814, ../sass/capicon.scss */
  #features ul.feature-list li .image, #features ul.feature-list li .text {
    float: none;
    width: 100%;
  }
  /* line 819, ../sass/capicon.scss */
  #features ul.feature-list li .text {
    padding: 0;
  }

  /* line 824, ../sass/capicon.scss */
  #designers {
    background-size: auto;
    padding-top: 330px;
  }
  /* line 829, ../sass/capicon.scss */
  #designers .right {
    margin-bottom: 50px;
  }

  /* line 836, ../sass/capicon.scss */
  #colors h3.select {
    font-size: 2em;
  }
  /* line 840, ../sass/capicon.scss */
  #colors #icon {
    margin-top: 0;
    width: 90%;
  }
  /* line 845, ../sass/capicon.scss */
  #colors ul.color-list {
    margin-bottom: 0em;
  }
  /* line 848, ../sass/capicon.scss */
  #colors ul.color-list li {
    margin: 0 5px 1em 0;
  }
  /* line 853, ../sass/capicon.scss */
  #colors .right {
    margin-top: 0;
  }

  /* line 858, ../sass/capicon.scss */
  #autor {
    padding-bottom: 12em;
  }

  /* line 863, ../sass/capicon.scss */
  #download .button {
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 869, ../sass/capicon.scss */
  #download .button img {
    max-width: 300px;
  }
  /* line 874, ../sass/capicon.scss */
  #download div.button:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 879, ../sass/capicon.scss */
  #download div.button + div.button {
    margin-left: 0;
  }

  /* line 884, ../sass/capicon.scss */
  #social {
    min-height: 460px;
  }
  /* line 887, ../sass/capicon.scss */
  #social .house {
    display: none;
  }
  /* line 891, ../sass/capicon.scss */
  #social .social-list {
    width: 100%;
  }
  /* line 894, ../sass/capicon.scss */
  #social .social-list li {
    padding: 0 2%;
  }
}
@media only screen and (max-device-width: 960px) {
  /* line 902, ../sass/capicon.scss */
  .slogan {
    font-size: 1.5em;
  }
}
@media only screen and (orientation: landscape) and (max-device-width: 1280px) {
  /* line 909, ../sass/capicon.scss */
  .logo-image {
    max-width: 150px;
  }

  /* line 913, ../sass/capicon.scss */
  .logo {
    height: 65%;
  }
}
/* ===========================================================
                        DESKTOPS AND LAPTOPS
   =========================================================== */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  /* line 924, ../sass/capicon.scss */
  .active .block {
    margin-top: 50px;
  }

  /* line 928, ../sass/capicon.scss */
  .block-inner {
    width: 90%;
  }

  /* line 933, ../sass/capicon.scss */
  #steps .section-desc {
    margin: 1em auto;
    width: 80%;
  }

  /* line 939, ../sass/capicon.scss */
  #features h2 {
    padding: 0.5em 0;
  }

  /* line 943, ../sass/capicon.scss */
  #designers {
    background: transparent url("../img/designers_1280.svg") left top no-repeat;
  }

  /* line 947, ../sass/capicon.scss */
  #customization img {
    content: url("../img/customization_1024.svg");
    max-height: 460px;
  }

  /* line 952, ../sass/capicon.scss */
  #colors h3.select {
    font-size: 260%;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  /* line 959, ../sass/capicon.scss */
  .logo-image {
    max-width: 440px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  /* line 966, ../sass/capicon.scss */
  .slogan {
    width: 70%;
  }

  /* line 970, ../sass/capicon.scss */
  .left-third-house, .right-third-house {
    display: none;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  /* line 976, ../sass/capicon.scss */
  .slogan {
    width: 50%;
  }
}
/* ===========================================================
                        	IPAD
   =========================================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 1) and (orientation: landscape) {
  /* line 986, ../sass/capicon.scss */
  .top-container {
    height: 96.5%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 1) and (orientation: portrait) {
  /* line 992, ../sass/capicon.scss */
  .top-container {
    height: 99.5%;
  }
}
/* ===========================================================
                        	IPHONE 4 
   =========================================================== */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 1002, ../sass/capicon.scss */
  .logo-image {
    max-width: 170px;
  }

  /* line 1006, ../sass/capicon.scss */
  .slogan {
    width: 80%;
  }

  /* line 1010, ../sass/capicon.scss */
  .scroll-to {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 1017, ../sass/capicon.scss */
  .slogan {
    font-size: 1.5em;
  }

  /* line 1021, ../sass/capicon.scss */
  .top-bar span, .top-bar a, .scroll-to {
    font-size: 1em;
  }

  /* line 1025, ../sass/capicon.scss */
  .top-bar .top-bar-inner {
    width: 90%;
  }

  /* line 1029, ../sass/capicon.scss */
  .scroll-to {
    bottom: 20px;
  }
}
/* ===========================================================
                        	IPAD RETINA
   =========================================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 1039, ../sass/capicon.scss */
  .top-container {
    height: 96%;
  }

  /* line 1043, ../sass/capicon.scss */
  .logo {
    height: 86%;
  }

  /* line 1047, ../sass/capicon.scss */
  .left, .right {
    width: 48%;
  }

  /* line 1051, ../sass/capicon.scss */
  .slogan {
    font-size: 3em;
    width: 74%;
  }

  /* line 1056, ../sass/capicon.scss */
  #colors ul.color-list li {
    margin: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 1063, ../sass/capicon.scss */
  .row {
    min-height: 400px;
  }

  /* line 1067, ../sass/capicon.scss */
  .left, .right {
    width: 48%;
  }

  /* line 1071, ../sass/capicon.scss */
  .left {
    margin-left: 2%;
    padding-right: 4em;
    float: left;
  }

  /* line 1077, ../sass/capicon.scss */
  .right {
    margin-right: 2%;
    float: right;
  }

  /* line 1082, ../sass/capicon.scss */
  .block-inner {
    text-align: center;
    width: 90%;
  }

  /* line 1087, ../sass/capicon.scss */
  .slogan {
    font-size: 3em;
    width: 90%;
  }

  /* line 1092, ../sass/capicon.scss */
  #welcome {
    background: white url("../img/clouds-mobile.svg") right center no-repeat;
    background-size: 480px;
  }

  /* line 1097, ../sass/capicon.scss */
  #steps {
    background-size: 460px;
    min-height: 300px;
  }
  /* line 1102, ../sass/capicon.scss */
  #steps ul.step-list {
    width: 100%;
  }
  /* line 1106, ../sass/capicon.scss */
  #steps ul.step-list li {
    width: 33.33333333%;
    float: left;
    margin: 0;
    padding: 0 4%;
  }

  /* line 1117, ../sass/capicon.scss */
  #features ul.feature-list li {
    float: left;
    margin: 0 0 4em;
    width: 50%;
  }
  /* line 1122, ../sass/capicon.scss */
  #features ul.feature-list li .image {
    float: left;
    width: 25%;
  }
  /* line 1127, ../sass/capicon.scss */
  #features ul.feature-list li .text {
    float: right;
    padding: 0.4em 10% 0 5%;
    width: 75%;
  }
  /* line 1132, ../sass/capicon.scss */
  #features ul.feature-list li .text h3 {
    color: #f6e5d0;
  }
  /* line 1136, ../sass/capicon.scss */
  #features ul.feature-list li .text p {
    margin: 0;
  }

  /* line 1144, ../sass/capicon.scss */
  #designers {
    background-size: 400px;
    padding-top: 0;
  }

  /* line 1149, ../sass/capicon.scss */
  #customization img {
    content: url("../img/customization_1024.svg");
    max-height: 460px;
  }

  /* line 1154, ../sass/capicon.scss */
  #autor {
    background-size: 540px;
  }

  /* line 1159, ../sass/capicon.scss */
  #download .button {
    margin-top: 2em;
    position: relative;
    float: left;
    width: 30%;
  }
  /* line 1165, ../sass/capicon.scss */
  #download .button img {
    max-width: 360px;
  }
  /* line 1170, ../sass/capicon.scss */
  #download div.button:first-of-type {
    margin-left: 15%;
    margin-right: 5%;
  }
  /* line 1175, ../sass/capicon.scss */
  #download div.button + div.button {
    margin-left: 5%;
    margin-right: 15%;
  }
  /* line 1180, ../sass/capicon.scss */
  #download a, #download input {
    height: 40px;
    margin-left: -70px;
    padding: 0;
    width: 140px;
  }

  /* line 1188, ../sass/capicon.scss */
  #social {
    min-height: 560px;
  }
  /* line 1191, ../sass/capicon.scss */
  #social .house {
    display: block;
  }
  /* line 1195, ../sass/capicon.scss */
  #social .left-third-house, #social .right-third-house {
    display: none;
  }
  /* line 1199, ../sass/capicon.scss */
  #social .social-list {
    width: 460px;
  }
}
