@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'populaire';
  src: url("../fonts/populaire-webfont.eot");
  src: url("../fonts/populaire-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/populaire-webfont.woff") format("woff"), url("../fonts/populaire-webfont.ttf") format("truetype"), url("../fonts/populaire-webfont.svg#populairemedium") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ===========================================================
                            GLOBAL
   =========================================================== */
*, html, body {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'proxima_nova_regular', sans-serif, Arial;
  font-size: 100%;
  margin: 0; }
  body ::selection {
    background: #ECD078;
    color: #ffffff; }
  body ::-moz-selection {
    background: #ECD078;
    color: #ffffff; }

h1, h2, h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500; }

h2 {
  font-size: 480%;
  line-height: 1em; }

h3 {
  font-size: 300%;
  text-align: left; }

h4 {
  font-size: 170%; }

h1, h2, h3 {
  color: #282828;
  font-family: 'populaire', sans-serif, Arial; }

p {
  color: #808080;
  font-size: 1.5em;
  font-family: 'proxima_nova_light', sans-serif, Arial;
  font-weight: 500;
  text-align: left; }

a {
  color: #77A5B2; }

b {
  letter-spacing: -0.02em; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  width: 100%; }

#features h2, #features p, #autor h2, #autor p, #social h2, .slogan, .scroll-to, .vector-icons, .top-bar span, .top-bar a {
  color: #ffffff; }

.section-desc {
  text-align: center; }

.row {
  min-height: 540px;
  padding: 10px;
  position: relative; }

.block {
  margin-top: 200px;
  opacity: 0;
  transition: all 0.4s ease; }

.left, .right {
  width: 42.5%; }
  .left img, .right img {
    display: block;
    margin: 0 auto; }

.left {
  margin-left: 2%;
  padding-right: 4em;
  float: left; }

.right {
  margin-right: 2%;
  float: right; }

.active .left {
  margin-left: 6%; }

.active .right {
  margin-right: 6%; }

.active .block {
  margin-top: 100px;
  opacity: 1; }

.block-inner {
  margin: 200px auto 0;
  text-align: center;
  width: 80%; }

.border-before {
  background: none repeat scroll #eaf0f4;
  top: 13px; }

.border-before-designers {
  background: none repeat scroll #e18d87;
  top: -30px; }

.border-before-colors {
  background: none repeat scroll #e6c7b9;
  top: -12px; }

.border-before-download {
  background: none repeat scroll #bfe1dd;
  top: -12px; }

.border-before-donations {
  background: none repeat scroll #ffffff;
  top: -12px; }

.border-before, .border-before-designers, .border-before-colors, .border-before-download, .border-before-donations {
  height: 20px;
  display: block;
  transform: rotate(-0.5deg);
  -webkit-backface-visibility: hidden;
  z-index: 10;
  position: relative; }

.border-after, .border-after-designers, .border-after-colors {
  height: 40px;
  display: block;
  position: relative;
  transform: rotate(0.8deg);
  -webkit-backface-visibility: hidden;
  z-index: 10; }

.border-after {
  background: none repeat scroll #f2f6f7;
  bottom: -15px; }

.border-after-designers {
  background: none repeat scroll #f2ece6;
  bottom: -30px; }

.border-after-colors {
  background: none repeat scroll #bfe1dd;
  bottom: -25px; }

.highlight {
  color: #dfb7a5; }

.clear {
  clear: both; }

/* ===========================================================
                            TOP CONTAINER
   =========================================================== */
.top-container {
  background: #e18d87 url("../img/background.svg") center -60px repeat;
  height: 99%;
  position: relative;
  width: 100%;
  margin: -40px 0 0;
  z-index: 10; }

.top-bar {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  height: 40px;
  width: 100%;
  z-index: 11; }
  .top-bar .top-bar-inner {
    padding-top: 7px;
    width: 400px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .top-bar span, .top-bar a {
    font-family: 'proxima_nova_light', sans-serif, Arial;
    font-size: 1.2em; }
  .top-bar span, .top-bar ul, .top-bar a {
    float: left; }
  .top-bar ul {
    margin-left: 1em; }
    .top-bar ul span, .top-bar ul a {
      padding: 0 3px; }
    .top-bar ul a {
      text-decoration: none; }

.logo {
  margin: auto;
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 86%;
  min-width: 200px;
  text-align: center; }

.logo-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 4%;
  max-width: 600px; }

.slogan {
  font-family: 'populaire';
  font-size: 3em;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 2px 2px #d57275;
  width: 42%;
  margin: 0 auto; }

.vector-icons {
  background: #6c6374;
  border-radius: 4px;
  display: inline-block;
  height: 1.1em;
  line-height: 1.3em;
  padding: 0 0.2em;
  text-shadow: none; }

.scroll-to {
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 200px;
  text-align: center; }

.nav-down {
  width: 100px;
  height: 40px;
  display: block;
  background: #ffffff url("../img/nav-down.svg") center center no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px; }

/* ===========================================================
                            WELCOME
   =========================================================== */
#welcome {
  background: #ffffff url("../img/clouds.svg") right center no-repeat;
  background-size: 60%; }
  #welcome .right img {
    max-width: 400px; }

/* ===========================================================
                            STEPS
   =========================================================== */
#steps {
  background: #f2f6f7 url("../img/back-steps.svg") left 8% no-repeat;
  background-size: 680px;
  margin-bottom: -30px;
  z-index: 11; }
  #steps q.quote {
    color: #c0c0c0;
    display: block;
    font-family: 'proxima_nova_light';
    font-size: 120%;
    font-style: italic;
    padding: 0 0 2em; }
  #steps ul.step-list {
    width: 100%; }
    #steps ul.step-list li {
      width: 33.33333333%;
      float: left;
      margin: 0;
      padding: 0 4%; }
      #steps ul.step-list li div.image {
        position: relative; }
        #steps ul.step-list li div.image img {
          margin-bottom: 2em;
          position: relative;
          top: 0;
          left: 0;
          transition: opacity 10s easy; }
      #steps ul.step-list li div.image img.onhover {
        position: absolute; }
      #steps ul.step-list li div.image:hover img.onhover {
        opacity: 1; }

/* ===========================================================
                            FEATURES
   =========================================================== */
#features {
  background: #e18d87 url("../img/compass.svg") right center no-repeat;
  bottom: 20px; }
  #features h2 {
    padding-bottom: 1em; }
  #features ul.feature-list li {
    float: left;
    margin: 0 0 4em;
    width: 50%; }
    #features ul.feature-list li .image {
      float: left;
      width: 25%; }
    #features ul.feature-list li .text {
      float: right;
      padding: 0.4em 10% 0 5%;
      width: 75%; }
      #features ul.feature-list li .text h3 {
        color: #f6e5d0; }
      #features ul.feature-list li .text p {
        margin: 0; }

/* ===========================================================
                        RESOURCE FOR DESIGNERS
   =========================================================== */
#designers {
  background: transparent url("../img/designers.svg") left top no-repeat;
  background-size: 40% auto;
  margin-top: -30px; }
  #designers img#license {
    width: 118px; }

/* ===========================================================
                        	CUSTOMIZATION
   =========================================================== */
#customization {
  background: #f2ece6;
  z-index: 11; }

/* ===========================================================
                        	COLORS
   =========================================================== */
#colors h3.select {
  color: #d3807b; }
#colors #icon {
  margin-top: 2em;
  max-width: 400px; }
#colors ul.color-list {
  margin-bottom: 3em;
  overflow: auto;
  padding: 0; }
  #colors ul.color-list li {
    border-radius: 50%;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px; }
    #colors ul.color-list li.selected {
      background: transparent url("../img/color-selected.png") center center no-repeat;
      background-size: 40px 40px; }
    #colors ul.color-list li span {
      float: left;
      width: 30px;
      height: 30px;
      text-indent: -9999px;
      border-radius: 50%;
      cursor: pointer; }
      #colors ul.color-list li span.color-0 {
        background: #f6e5d0; }
      #colors ul.color-list li span.color-1 {
        background: #e6c7b9; }
      #colors ul.color-list li span.color-2 {
        background: #d3807b; }
      #colors ul.color-list li span.color-3 {
        background: #c5e3c7; }
      #colors ul.color-list li span.color-4 {
        background: #bfe1dd; }
      #colors ul.color-list li span.color-5 {
        background: #8c4a62; }
      #colors ul.color-list li span.color-6 {
        background: #594255; }
      #colors ul.color-list li span.color-7 {
        background: #726873; }
      #colors ul.color-list li span.color-8 {
        background: #bfb2a3; }
      #colors ul.color-list li span.color-9 {
        background: #c0c0c0; }

/* ===========================================================
                        		ABOUT ME
   =========================================================== */
#autor {
  background: #bfe1dd url("../img/map.svg") right bottom no-repeat;
  min-height: 570px;
  z-index: 11; }
  #autor .right img {
    max-width: 300px; }
  #autor a {
    text-decoration: none;
    color: #77A5B2; }

/* ===========================================================
                        DOWNLOAD AND DONATE
   =========================================================== */
#download {
  background: #f2f6f7;
  bottom: 20px;
  margin-bottom: -50px;
  padding-bottom: 60px; }
  #download .button {
    margin-top: 2em;
    position: relative;
    float: left;
    width: 30%; }
    #download .button img {
      max-width: 360px; }
  #download div.button:first-of-type {
    margin-left: 15%;
    margin-right: 5%; }
  #download div.button + div.button {
    margin-left: 5%;
    margin-right: 15%; }
  #download a, #download input {
    background: #a4d191;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px #73bf7b;
    bottom: 40px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: populaire;
    font-size: 2em;
    height: 50px;
    left: 50%;
    margin-left: -80px;
    padding-top: 6px;
    position: absolute;
    text-decoration: none;
    width: 160px;
    -webkit-appearance: none; }
    #download a:hover, #download input:hover {
      background: #bddbad;
      box-shadow: 0 5px #a4d191; }

/* ===========================================================
                        	DONATIONS LIST
   =========================================================== */
#donations-list h2 {
  padding: 0.5em 0; }
#donations-list span {
  margin: 0.6em 0;
  text-align: center;
  display: block; }
#donations-list li {
  float: left;
  width: 33.333333%; }
#donations-list p.thanks {
  color: #c0c0c0;
  display: block;
  font-family: 'proxima_nova_light';
  font-size: 120%;
  font-style: italic;
  padding: 2em 0; }

/* ===========================================================
                        	SOCIAL
   =========================================================== */
@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translate(0, 0px); }
  100% {
    -webkit-transform: translate(1440px, 0); } }
@-moz-keyframes clouds {
  0% {
    transform: translate(0, 0px); }
  100% {
    transform: translate(1440px, 0); } }
@keyframes clouds {
  0% {
    transform: translate(0, 0px); }
  100% {
    transform: translate(1440px, 0); } }
#social {
  background: #e18d87 url("../img/city.svg") left bottom repeat-x;
  margin-top: -20px;
  min-height: 560px;
  overflow: hidden; }
  #social .clouds {
    background: url("../img/clouds-city.svg");
    background-repeat: repeat-x;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    animation: clouds 300s linear infinite; }
  #social .house {
    height: 100%;
    position: absolute;
    top: 0; }
  #social .left-first-house {
    background: url("../img/left-first-house.svg") left top no-repeat;
    right: 90%;
    width: 192px;
    z-index: 3; }
  #social .left-second-house {
    background: url("../img/left-second-house.svg") left top no-repeat;
    right: 80%;
    width: 274px;
    z-index: 2; }
  #social .left-third-house {
    background: url("../img/left-third-house.svg") left top no-repeat;
    right: 70%;
    width: 384px;
    z-index: 1; }
  #social .right-first-house {
    background: url("../img/right-first-house.svg") right top no-repeat;
    left: 86%;
    width: 270px;
    z-index: 6; }
  #social .right-second-house {
    background: url("../img/right-second-house.svg") right top no-repeat;
    left: 78%;
    width: 164px;
    z-index: 5; }
  #social .right-third-house {
    background: url("../img/right-third-house.svg") right top no-repeat;
    left: 70%;
    width: 384px;
    z-index: 4; }
  #social .block-inner {
    padding-top: 40px;
    position: relative;
    z-index: 7; }
  #social h2 {
    padding-bottom: 0.5em; }
  #social .social-list {
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    width: 460px; }
    #social .social-list li {
      float: left;
      width: 25%; }
      #social .social-list li a {
        outline: none; }
    #social .social-list img {
      max-width: 70px; }
      #social .social-list img:hover {
        max-width: 80px;
        transition: all 0.4s ease; }

/* ===========================================================
                        	MOBILE
   =========================================================== */
.mobile .block {
  margin-top: 1.5em;
  opacity: 1; }

@media only screen and (max-width: 960px) {
  h2 {
    font-size: 2.8em; }

  p {
    font-size: 1.2em; }

  .block {
    height: auto;
    margin-top: 150px;
    padding: 0 .5em; }

  .block-inner {
    width: 100%; }

  .active .block {
    margin-top: 50px; }

  .active .left, .left {
    margin-left: 0; }

  .active .right, .right {
    margin-right: 0;
    margin-bottom: 100px; }

  .left {
    padding-right: 0; }

  .right {
    margin-bottom: 50px; }

  .left, .right {
    float: none;
    width: 100%; }

  .top-container {
    background-size: 120%; }

  .logo-image {
    max-width: 440px; }

  .slogan {
    width: 100%; }

  #welcome {
    background: #ffffff url("../img/clouds-mobile.svg") no-repeat;
    background-position: center 80%;
    background-size: 100%; }

  #steps ul.step-list {
    margin: 0 auto;
    width: 60%; }
    #steps ul.step-list li {
      padding: 0;
      width: 100%; }

  #features .block {
    margin-top: 100px; }

  #features ul.feature-list li {
    width: 100%; }
    #features ul.feature-list li h3 {
      font-size: 2.4em;
      text-align: center; }
    #features ul.feature-list li .image img {
      max-width: 150px;
      margin-bottom: 1em; }
    #features ul.feature-list li .image, #features ul.feature-list li .text {
      float: none;
      width: 100%; }
    #features ul.feature-list li .text {
      padding: 0; }

  #designers {
    background-size: auto;
    padding-top: 330px; }
    #designers .right {
      margin-bottom: 50px; }

  #colors h3.select {
    font-size: 2em; }
  #colors #icon {
    margin-top: 0;
    width: 90%; }
  #colors ul.color-list {
    margin-bottom: 0em; }
    #colors ul.color-list li {
      margin: 0 5px 1em 0; }
  #colors .right {
    margin-top: 0; }

  #autor {
    padding-bottom: 12em; }

  #download .button {
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    #download .button img {
      max-width: 300px; }
  #download div.button:first-of-type {
    margin-left: 0;
    margin-right: 0; }
  #download div.button + div.button {
    margin-left: 0; }

  #donations-list li {
    float: none;
    width: 100%; }

  #social {
    min-height: 460px; }
    #social .house {
      display: none; }
    #social .social-list {
      width: 100%; }
      #social .social-list li {
        padding: 0 2%; } }
@media only screen and (max-device-width: 960px) {
  .slogan {
    font-size: 1.5em; }

  .top-bar-fr span, .top-bar-fr a {
    font-size: .8em; } }
@media only screen and (orientation: landscape) and (max-device-width: 1280px) and (min-resolution: 192dpi) {
  .logo-image {
    max-width: 150px; }

  .logo {
    height: 65%; } }
/* ===========================================================
                        DESKTOPS AND LAPTOPS
   =========================================================== */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .active .block {
    margin-top: 50px; }

  .block-inner {
    width: 90%; }

  #steps .section-desc {
    margin: 1em auto;
    width: 80%; }

  #features h2 {
    padding: 0.5em 0; }

  #designers {
    background: transparent url("../img/designers_1280.svg") left top no-repeat; }

  #customization img {
    content: url("../img/customization_1024.svg");
    max-height: 460px; }

  #colors h3.select {
    font-size: 260%; } }
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .logo-image {
    max-width: 440px; } }
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .slogan {
    width: 70%; }

  .left-third-house, .right-third-house {
    display: none; } }
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .slogan {
    width: 50%; } }
/* ===========================================================
                        	IPAD
   =========================================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 1) and (orientation: landscape) {
  .top-container {
    height: 96.5%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 1) and (orientation: portrait) {
  .top-container {
    height: 99.5%; } }
/* ===========================================================
                        	IPHONE 4 
   =========================================================== */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .logo-image {
    max-width: 170px; }

  .slogan {
    width: 80%; }

  .scroll-to {
    display: none; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .logo-image {
    max-width: 200px; }

  .slogan {
    font-size: 1.5em; }

  .top-bar span, .top-bar a, .scroll-to {
    font-size: .88em; }

  .top-bar-fr span, .top-bar-fr a {
    font-size: .8em; }

  .top-bar .top-bar-inner {
    width: 90%; }

  .scroll-to {
    bottom: 20px; } }
/* ===========================================================
                        	IPAD RETINA
   =========================================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .top-container {
    height: 96%; }

  .logo {
    height: 86%; }

  .left, .right {
    width: 48%; }

  .slogan {
    font-size: 3em;
    width: 74%; }

  #colors ul.color-list li {
    margin: 0; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .row {
    min-height: 400px; }

  .left, .right {
    width: 48%; }

  .left {
    margin-left: 2%;
    padding-right: 4em;
    float: left; }

  .right {
    margin-right: 2%;
    float: right; }

  .block-inner {
    text-align: center;
    width: 90%; }

  .slogan {
    font-size: 3em;
    width: 90%; }

  #welcome {
    background: #ffffff url("../img/clouds-mobile.svg") right center no-repeat;
    background-size: 480px; }

  #steps {
    background-size: 460px;
    min-height: 300px; }
    #steps ul.step-list {
      width: 100%; }
      #steps ul.step-list li {
        width: 33.33333333%;
        float: left;
        margin: 0;
        padding: 0 4%; }

  #features ul.feature-list li {
    float: left;
    margin: 0 0 4em;
    width: 50%; }
    #features ul.feature-list li .image {
      float: left;
      width: 25%; }
    #features ul.feature-list li .text {
      float: right;
      padding: 0.4em 10% 0 5%;
      width: 75%; }
      #features ul.feature-list li .text h3 {
        color: #f6e5d0; }
      #features ul.feature-list li .text p {
        margin: 0; }

  #designers {
    background-size: 400px;
    padding-top: 0; }

  #customization img {
    content: url("../img/customization_1024.svg");
    max-height: 460px; }

  #autor {
    background-size: 540px; }

  #download .button {
    margin-top: 2em;
    position: relative;
    float: left;
    width: 30%; }
    #download .button img {
      max-width: 360px; }
  #download div.button:first-of-type {
    margin-left: 15%;
    margin-right: 5%; }
  #download div.button + div.button {
    margin-left: 5%;
    margin-right: 15%; }
  #download a, #download input {
    height: 40px;
    margin-left: -70px;
    padding: 0;
    width: 140px; }

  #donations-list li {
    float: left;
    width: 33.333333%; }

  #social {
    min-height: 560px; }
    #social .house {
      display: block; }
    #social .left-third-house, #social .right-third-house {
      display: none; }
    #social .social-list {
      width: 460px; } }
/* ===========================================================
                        	COOKIES
   =========================================================== */
.cookie-law-container {
  background: white;
  border-radius: 4px;
  position: fixed;
  bottom: 24px;
  left: 16px;
  z-index: 9999;
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05); }
  .cookie-law-container p {
    font-size: 1em;
    padding: 0;
    margin: 0;
    padding: 8px 16px 0 0; }
  .cookie-law-container a {
    color: white;
    border-radius: 4px;
    background: #77a5b2;
    padding: 8px 16px;
    text-decoration: none; }
  .cookie-law-container p, .cookie-law-container a {
    float: left; }

/*# sourceMappingURL=capicon.css.map */
